:root {
  --primary-color: #fa941c;
  --secundary-color: #5061df;
  --alert-color: #f63c47;
  --background-card: #f6f5f5;
}

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.background-image {
  background-image: url("../public/imagen-login.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.background-image-login {
  background-image: url(../public/imagen-login.jpg);
  background-position: center;
  background-size: cover;
}

.imagen-profile-avatar {
  width: 75px;
  height: 75px;
  object-fit: cover; 
  border-radius: 50%; 
  border: 4px solid var(--background-card); 
  background-color: #e5e7eb; 
}

*, *::before, *::after {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms; 
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.active-link {
  color: var(--secundary-color) !important;
}